<form class="form-signin" id='home_form'>
        
    <h2 class="text-center"> Welcome </h2>

    <button class="btn btn-large btn-primary" type="submit" onclick="goBoard()"> Dashboard </button>

</form>

<script src="/javascripts/redirect.js"></script>