
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/stylesheets/welcome.css">

<body>
   
     <script src="/javascripts/welcome.js"></script>
    <input type="checkbox" />
    <div  onclick="redirect()">
      
      <h1 >WEL<span></span><span></span>COME❤</span>

    </h1>

    <meta http-equiv="refresh" content="5; url=/index" />

    </div>
  </body>
</html>