<!DOCTYPE html>
<html>

  <head>

    <title> Register </title>
    
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/styles.css" rel="stylesheet" media="screen">

  </head>

  <body id="login">
    
    <div class="container">

      <form class="form-signin" id='registration_form'>
        
            <h2 class="text-center">Please Register</h2>

            <input type="text" class="input-block-level" placeholder="Name" id="username" name="username">
            <input type="password" class="input-block-level" placeholder="Organization" id="orgname" name="orgName">
            <button class="btn btn-large btn-primary" type="submit" onclick="submitData()"> Register </button>
      
        </form>

    </div> 

    <script src="/javascripts/register.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  
  </body>
  
</html>