

    <script>
        localStorage.setItem('token', "<%= JWT %>");
    </script>

    <form id="test" class="sign-in-form">
        <input type="submit" class="btn" value="Submit" onclick="check()" />
    </form>
    
    
    <script src="/javascripts/test.js"> </script>

